body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #ffffff;
}

#_1_3251_iPhone_16_Pro_Max_-_1 {
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 1);
    height: 874px;
    width: 100%;
}

#_1_3253_Frame_2 {
    position: absolute;
    overflow: hidden;
    background: rgba(45, 44, 47, 0.5);
    border: 2px solid #f7efefb2;
    border-radius: 90px;
    height: 563px;
    width: 345px;
    left: 26px;
    top: 174px;
    opacity: 0.5;
}

#aka_kiopi {
    color: #556cfdff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -2%;
    text-align: left;
    height: 32px;
    width: 183px;
    position: absolute;
    left: calc(50% - 49.5px);
    bottom: 30px;
}

#_11_4_Frame_4 {
    position: absolute;
    overflow: hidden;
    background: rgba(30, 28, 28, 1);
    border: 2px solid #f7efefb2;
    border-radius: 90px;
    height: 93px;
    width: 299px;
    left: 49px;
    top: 211px;
}

#_1_3257_Frame_4 {
    position: absolute;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    border-radius: 360px;
    height: 62px;
    width: 63px;
    left: 14px;
    top: 14px;
}

#_11_2_photo_2025-03-27_00-02-13_1 {
    position: absolute;
    background: url("images/25776de4c8640b0708d4b01d86420ce12d211535.jpg") 100% / cover no-repeat;
    border-radius: 35px;
    height: 70px;
    width: 70px;
    left: -4px;
    top: -4px;
}

#_____________ {
    color: #b0ffe8ff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -2%;
    text-align: left;
    height: 70px;
    width: 275px;
    position: absolute;
    left: 91px;
    top: 14px;
}

#_uidknowal_kiopi {
    color: #d9d9d9ff;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -2%;
    text-align: left;
    height: 32px;
    width: 174px;
    position: absolute;
    left: 96px;
    top: 44px;
}

#_25_3_tg_1 {
    position: absolute;
    background: url("images/8ce7e4b6f3c6ea82416bd15d9d0da85251003f6f.png") 100% / cover no-repeat;
    height: 24px;
    width: 24px;
    left: 242px;
    top: 37px;
    cursor: pointer;
}

#_1_3255_Frame_3 {
    position: absolute;
    overflow: hidden;
    background: rgba(199, 193, 232, 0.75);
    border: 2px solid #f7efefb2;
    border-radius: 90px;
    height: 64px;
    width: 332px;
    left: 33px;
    top: 64px;
    opacity: 0.5;
}

#_34_19_icons8-______-50_1 {
    position: absolute;
    background: url("images/6de7d7f985be2111b87d41b8b2772b5e143e04f.png") 100% / cover no-repeat;
    height: 50px;
    width: 50px;
    left: 10px;
    top: 9px;
}

#_38_9_Frame_7 {
    position: absolute;
    overflow: hidden;
    background: rgba(30, 28, 28, 1);
    border: 2px solid #f7efefb2;
    border-radius: 90px;
    height: 93px;
    width: 299px;
    left: 49px;
    top: 445px;
}

#_38_10_Frame_4 {
    position: absolute;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    border-radius: 360px;
    height: 62px;
    width: 63px;
    left: 14px;
    top: 14px;
}

#_40_17_photo_2025-03-27_22-09-36_1 {
    position: absolute;
    background: url("images/3ee1fdcc50df9814d33139f990bbd8d93b367864.jpg") 100% / cover no-repeat;
    height: 70px;
    width: 70px;
    left: 0px;
    top: -8px;
}

#___________ {
    color: #b0ffe8ff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -2%;
    text-align: left;
    height: 23px;
    width: 140px;
    position: absolute;
    left: 82px;
    top: 6px;
}

#_kiopiZXC {
    color: #d9d9d9ff;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -2%;
    text-align: left;
    height: 17px;
    width: 76px;
    position: absolute;
    left: 84px;
    top: 40px;
}

#_38_14_tg_1 {
    position: absolute;
    background: url("images/8ce7e4b6f3c6ea82416bd15d9d0da85251003f6f.png") 100% / cover no-repeat;
    height: 24px;
    width: 24px;
    left: 242px;
    top: 37px;
    cursor: pointer;
}

#_30_3_Frame_5 {
    position: absolute;
    overflow: hidden;
    background: rgba(30, 28, 28, 1);
    border: 2px solid #f7efefb2;
    border-radius: 90px;
    height: 93px;
    width: 299px;
    left: 49px;
    top: 328px;
}

#_30_4_Frame_4 {
    position: absolute;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    border-radius: 360px;
    height: 62px;
    width: 63px;
    left: 13px;
    top: 14px;
}

#_32_4_morda_1 {
    position: absolute;
    background: url("images/c5f9c1be2b3d6409b7d046525acb0c863d182510.jpg") 100% / cover no-repeat;
    height: 67px;
    width: 67px;
    left: 0px;
    top: -2px;
}

#yenix {
    color: #b0ffe8ff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -2%;
    text-align: left;
    height: 70px;
    width: 275px;
    position: absolute;
    left: 122px;
    top: 14px;
}

#_yenix_era {
    color: #d9d9d9ff;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -2%;
    text-align: left;
    height: 32px;
    width: 174px;
    position: absolute;
    left: 114px;
    top: 44px;
}

#_30_8_tg_1 {
    position: absolute;
    background: url("images/8ce7e4b6f3c6ea82416bd15d9d0da85251003f6f.png") 100% / cover no-repeat;
    height: 24px;
    width: 24px;
    left: 242px;
    top: 37px;
    cursor: pointer;
}

#_32_6_Frame_6 {
    position: absolute;
    overflow: hidden;
    background: rgba(30, 28, 28, 1);
    border: 2px solid #f7efefb2;
    border-radius: 90px;
    height: 93px;
    width: 299px;
    left: 49px;
    top: 562px;
}

#____________ {
    color: #b0ffe8ff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -2%;
    text-align: left;
    height: 41px;
    width: 138px;
    position: absolute;
    left: 90px;
    top: 36px;
}

#_34_13_Frame_7 {
    position: absolute;
    overflow: hidden;
    border: 1px solid #f8efefff;
    border-radius: 20px;
    height: 48px;
    width: 48px;
    left: 19px;
    top: 24px;
}

#_34_14_icons8-______-______-50_1 {
    position: absolute;
    background: url("images/f957cd915856779f94fb72d51752203ec8db99bf.png") 100% / cover no-repeat;
    height: 40px;
    width: 40px;
    left: 5px;
    top: 5px;
}

#_34_17_icons8-____________-_________-____________-2-50_1 {
    position: absolute;
    background: url("images/16622a2684937a0404a068197a9a572a6012d104.png") 100% / cover no-repeat;
    height: 25px;
    width: 25px;
    left: 249px;
    top: 36px;
    cursor: pointer;
}

#_40_23_Frame_8 {
    position: absolute;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    border-radius: 180px;
    height: 50px;
    width: 123px;
    left: 232px;
    top: 73px;
}

#_40_21_icons8-_____-50_1 {
    position: absolute;
    background: url("images/81197a048b094d76f25fbd27d9b66475657af1e0.png") 100% / cover no-repeat;
    height: 50px;
    width: 50px;
    left: 0px;
    top: 0px;
    cursor: pointer;
}

#_40_22_icons8-_____-50_2 {
    position: absolute;
    background: url("images/81197a048b094d76f25fbd27d9b66475657af1e0.png") 100% / cover no-repeat;
    transform: scaleX(-1) scaleY(-1);
    height: 50px;
    width: 50px;
    left: 73px;
    top: 0px;
    cursor: pointer;
}

#_40_24_Frame_9 {
    position: absolute;
    overflow: hidden;
    background: rgba(154, 142, 222, 0.65);
    border-radius: 200px;
    height: 50px;
    width: 42px;
    left: 273px;
    top: 73px;
}

#_40_20_icons8-_____-50_1 {
    position: absolute;
    background: url("images/10c93e85b4d4c5c96bc9e012f131a4fb688dfad2.png") 100% / cover no-repeat;
    height: 50px;
    width: 50px;
    left: -4px;
    top: 0px;
    cursor: pointer;
}

#_40_21_icons8-_____-50_1:hover,
#_40_22_icons8-_____-50_2:hover,
#_40_20_icons8-_____-50_1:hover {
    opacity: 0.8;
    }
